<%= form_for @license, :html => { :class => "form-stacked" } do |f| %>
  <% if @license.errors.any? %>
      <div class="alert-message alert">
      <h2><%= pluralize(@license.errors.count, t('Error')) %></h2>
      <ul>
      <% @license.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :description %>
      <div class="input">
        <%= f.text_field :description, :class => 'span10' %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :url %>
      <div class="input">
        <%= f.text_field :url, :class => 'span6' %>
      </div>
    </div>

    <div class="actions">
      <%
        if params[:action] == 'edit'
          type = 'btn success'
        else
          type = 'btn primary'
        end
      %>

      <%= f.submit 'class' => type, :disable_with => I18n.t('Submitting') %>
      <% if params[:action] == 'edit' %>
        <%= link_to t('Delete'), @text, :class => 'btn danger', :confirm => t('Are you sure?'), :method => :delete if params[:action] == 'edit'%>
      <% end %>
    </div>

  </fieldset>
<% end %>
