<h1><%= t("Confirmação de E-Mail") %></h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t("Resend confirmation instructions"), 'class' => 'btn success', :disable_with => I18n.t('Submitting') %>
      <%= render "links" %>
    </div>

  </fieldset>
<% end %>
