<h1><%= t("Menus") %></h1>

<ul class="tabs" data-tabs="tabs">
  <li><a href="/menus"><%= t("List") %></a></li>
    <li class="active"><a href=""><%= @menu.title %></a></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="edit">
    <%= @menu.title %> - <%= @menu.url %>
  </div>
</div>
