<%= form_for @user, :html => { :class => "form-stacked" } do |f| %>
  <% if @user.errors.any? %>
      <div class="alert-message alert">
      <h2><%= pluralize(@user.errors.count, t('Error')) %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :firstname %>
      <div class="input">
        <%= f.text_field :firstname %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :lastname %>
      <div class="input">
        <%= f.text_field :lastname %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password_confirm %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="actions">
      <%
        if params[:action] == 'edit'
          type = 'btn success'
        else
          type = 'btn primary'
        end
      %>

      <%= f.submit 'class' => type %>
      <%= link_to_if (params[:action] == 'edit', t('Delete'), @user, :class => 'btn danger', :confirm => t('Are you sure?'), :method => :delete) {} %>
    </div>
  </fieldset>
<% end %>
