<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <div class="alert-message alert">
      <h2><%= pluralize(@user.errors.count, "Erro") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :firstname %>
      <div class="input">
        <%= f.text_field :firstname %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :lastname %>
      <div class="input">
        <%= f.text_field :lastname %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.text_field :password %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :created %>
      <div class="input">
        <%= f.datetime_select :created %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :status %>
      <div class="input">
        <%= f.check_box :status %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'class' => 'btn primary' %>
      <% if params[:action] == 'edit' %>
      <%= link_to_if (params[:action] == 'edit', "Apagar", @user, :class => 'btn danger', :confirm => 'Tem certeza que deseja excluir?', :method => :delete) %>
      <% end %>
    </div>

  </fieldset>
<% end %>
