<h1>Listing users</h1>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Created</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, edit_user_path(user) %>
      <td><%= link_to user.firstname, edit_user_path(user) %>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= user.created %></td>
      <td><%= user.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
