<ul class="tabs" data-tabs="tabs">
  <li><a href="#list"><%= t("List") %></a></li>
  <li><a href="#create"><%= t("Create") %></a></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="list">
    <%= render 'list' %>
  </div>
  <div class="tab-pane" id="create">
    <%= render 'form' %>
  </div>
</div>

<% if !notice.nil? %>
<div class="alert-message success" data-alert>
  <a class="close" href="#">×</a>
  <p><%= notice %></p>
</div>
<% end %>
