<center>
  <% if !@latests.nil? %>
    <br/><br/><br/>
    <h3> <%= t("Latest News") %></h3>
    <br/>
      <% if @latests.size > 0 %>
        <% @latests.each do |text| %>
            <p><%= link_to text.title, text %></p>
            <hr style="width:150px;" />
        <% end %>
      <% else %>
        <b><%= t('No Items Registered') %></b>
      <% end %>
  <% end %>

  <hr/>

  <% if !@tags.nil? %>
    <h3> <%= t("Tags") %></h3>
    <br/>
    <% if @tags.size > 0 %>
      <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
        <%= link_to tag.name, tagged_url(:tag => tag.name), :class => css_class %>      
      <% end %>
    <% else %>
      <b><%= t('No Items Registered') %></b>
    <% end %>
  <% end %>
</center>
