      <% @texts.each do |text| %>
        <div style="border-right:1px solid #E1E1E1; padding: 4px 6px 4px 6px;">
          <h2><%= link_to text.title, text %></h2>
          <b>
             <%= t('Published by') %></b> <% text.users.each do |user| %>
               <%= user.firstname + ' ' + user.lastname %>
               <% @user_id = user.id %>
             <% end %> <b><%= t('in') %>
          </b> <%= I18n.l(text.created_at) %>
          <b><%= t('licensed under') %></b> <%= link_to text.license.name, text.license.url %>
          <br/>     
          <b><%= t("Abstract") %>:</b> <%= text.abstract %>   
          <br/>     
          <p></p>
          <%= truncate(text.body, :length => 4096).html_safe %>
          <br/>
          <% if text.body.length > 4096 %>
            <p><%= link_to I18n.t('Read More'), text, :class=>"btn success" %></p>
          <% end %>

          <b>Tag(s): </b>
          <% text.tags.any? %>
            <% text.tags.each do |tag| %>
            <%= link_to tag.name, tagged_url(:tag => tag.name) %>
          <% end %>

          <% if (user_signed_in? && current_user.id == @user_id) %>
          <div class="actions_alt">
            <%= link_to t('Edit'), edit_text_path(text), :class => 'btn success', :disable_with => I18n.t('Submitting')  if @current_user.nil? %>
            <%= link_to t('Delete'), text, :class => 'btn danger', :confirm => t('Are you sure?'), :method => :delete, :disable_with => I18n.t('Submitting') if @current_user.nil? %>
          </div>
          <% end %>

        </div>
        <br/>     
      <% end %>
