<%= javascript_include_tag "/js/ckeditor/ckeditor.js" %>

<%= javascript_tag do %>
//<![CDATA[
  CKEDITOR.replace( 'textareas' );
//]]>
<% end %>

<% if params[:action] != 'edit' %>
  <% @text.owners.build %>
<% end %>

<%= form_for @text, :html => { :class => "form-stacked" } do |f| %>
  <% if @text.errors.any? %>
      <div class="alert-message alert">
      <h2><%= pluralize(@text.errors.count, t('Error')) %></h2>
      <ul>
      <% @text.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :title %>
      <div class="input">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :abstract %>
      <div class="input">
        <%= f.text_field :abstract, :class => 'span10' %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :license %>
      <div class="input">
        <%= f.select( :license_id, @licenses.collect { |l| [l.name, l.id] } ) %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :publish %>
      <div class="input">
        <%= f.check_box :publish %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :firstpage %>
      <div class="input">
        <%= f.check_box :firstpage %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :body %>
      <div class="input">
        <%= f.text_area :body, :class => "ckeditor" %>
      </div>
    </div>

    <%= render :partial => 'owners/form', :locals => {:form => f} %>

    <div class="actions">
      <%
        if params[:action] == 'edit'
          type = 'btn success'
        else
          type = 'btn primary'
        end
      %>

      <%
        delete = false
        @text.users.each do |user|
          if user.id == current_user.id
            delete = true
          end
        end
      %>

      <% if (params[:action] == 'edit' && delete == true) || params[:action] != 'edit' %>
        <%= f.submit 'class' => type %>

        <%= link_to_if (params[:action] == 'edit', t('Delete'), @text, :class => 'btn danger', :confirm => t('Are you sure?'), :method => :delete) {} %>
      <% end %>
    </div>

  </fieldset>
<% end %>
