<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("title")%></th>
      <th><%= t("abstract") %></th>
      <th><%= t("license") %></th>
      <th><%= t("publish") %></th>
      <th><%= t("firstpage") %></th>
      <th><%= t("Owner(s)") %></th>
    </tr>
  </thead>
  <tbody>
    <% @texts.each do |text| %>
    <tr>
      <td><%= link_to text.id, edit_text_path(text) %>
      <td><%= link_to text.title, edit_text_path(text) %>
      <td><%= text.abstract %></td>
      <td><%= text.license.name %></td>
      <% text.contents.each do |content| %>
        <td><%= content.publish %></td>
        <td><%= content.firstpage %></td>
      <% end %>
      <% text.users.each do |user| %>
        <td><%= user.firstname %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

