<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("title")%></th>
      <th><%= t("Abstract") %></th>
      <th><%= t("license") %></th>
      <% if user_signed_in? %>
        <th><%= t("publish") %></th>
        <th><%= t("firstpage") %></th>
        <th><%= t("Owner(s)") %></th>
      <% end %>
      <th><%= t("Last Update") %></th>
      <th><%= t("Tags") %></th>
    </tr>
  </thead>
  <tbody>
    <% texts.each do |text| %>
    <tr>
      <td>
        <%=
          link_to_if user_signed_in?, text.id, edit_text_path(text) do
            link_to text.id, text
          end
         %>
      </td>
      <td>
        <%=
          link_to_if user_signed_in?, text.title, edit_text_path(text) do
            link_to text.title, text
          end
        %>
      </td>
      <td><%= text.abstract %></td>
      <td><%= link_to text.license.name, text.license.url %></td>
      <% if user_signed_in? %>
        <td><%= t(text.publish) %></td>
        <td><%= t(text.firstpage) %></td>
        <% text.users.each do |user| %>
          <td><%= user.firstname %></td>
        <% end %>
      <% end %>
      <td><%= I18n.l(text.updated_at) %></td>

      <td>
        <% text.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

