<h1><%= t("Texts") %></h1>

<%= form_tag search_texts_path, :method => :get do %>
<p>
  <%= text_field_tag :query, params[:query] %> <%= submit_tag t('Search') %>
</p>
<% end %>

<ul class="tabs" data-tabs="tabs">
  <li class="active"><a href="#list"><%= t("List") %></a></li>
  <% if user_signed_in? %>
    <li><a href="#my"><%= t("My") %></a></li>
    <li><a href="#create"><%= t("Create") %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="list">
    <%= render 'list', :texts => @all %>
  </div>

  <% if user_signed_in? %>
    <div class="tab-pane" id="my">
      <%= render 'list', :texts => @my %>
    </div>
    <div class="tab-pane" id="create">
      <%= render 'form' %>
    </div>
  <% end %>
</div>
