<h1><%= t("Texts") %></h1>

<ul class="tabs" data-tabs="tabs">
  <li><a href="/texts"><%= t("All") %></a></li>
  <% if user_signed_in? %>
    <li class="active"><a href="/texts/my"><%= t("Only my") %></a></li>
    <li><a href="/texts/new"><%= t("Create") %></a></li>
  <% end %>
</ul>

<div class="search">
  <%= form_tag search_texts_path, :method => :get do %>
    <p><%= text_field_tag :query, params[:query] %> <%= submit_tag t('Search') %></p>
  <% end %>
</div>

<div class="tab-content">
  <div class="active tab-pane" id="list">
    <%= render 'list', :texts => @texts %>
  </div>
</div>
