<h1><%= t("Texts") %></h1>

<ul class="tabs" data-tabs="tabs">
  <li><a href="/texts"><%= t("All") %></a></li>
  <li class="active"><a href=""><%= @text.title %></a></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="list">
    <b><%= t('Published by') %></b> <% @text.users.each do |user| %> <%= user.firstname + ' ' + user.lastname %> <% @user_id = user.id %> <% end %> <b><%= t('in') %></b> <%= I18n.l(@text.created_at) %>
    <br/>
    <b><%= t('licensed under') %></b> <%= link_to @text.license.name, @text.license.url %>
    <br/><br/>
    <%= @text.body.html_safe %>

    <% if (user_signed_in? && current_user.id == @user_id) %>
    <div class="actions_alt">
            <%= link_to t('Edit'), edit_text_path(@text), :class => 'btn success', :disable_with => I18n.t('Submitting')  if @current_user.nil? %>
            <%= link_to t('Delete'), @text, :class => 'btn danger', :confirm => t('Are you sure?'), :method => :delete, :disable_with => I18n.t('Submitting') if @current_user.nil? %>
    </div>
    <% end %>

  </div>
</div>


