<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("image")%></th>
      <th><%= t("title")%></th>
      <th><%= t("Abstract") %></th>
      <th><%= t("license") %></th>
      <th><%= t("publish") %></th>
      <th><%= t("firstpage") %></th>
      <th><%= t("Owner(s)") %></th>
      <th><%= t("Last Update") %></th>
      <th><%= t("Tags") %></th>
    </tr>
  </thead>
  <tbody>
    <% images.each do |image| %>
    <tr>
      <td>
        <%=
          link_to_if user_signed_in?, image.id, edit_image_path(image) do
            link_to image.id, image
          end
        %>
      </td>
      <td> <%= link_to (image_tag image.image.url(:thumb)), image.image.url, :id => "image-box" %></td>
      <td>
        <%=
          link_to_if user_signed_in?, image.title, edit_image_path(image) do
            link_to image.title, image
          end
        %>
      </td>
      <td><%= image.abstract %></td>
      <td><%= link_to image.license.name, image.license.url %></td>
      <td><%= t(image.publish) %></td>
      <td><%= t(image.firstpage) %></td>
      <% image.users.each do |user| %>
        <td><%= user.firstname %></td>
      <% end %>
      <td><%= I18n.l(image.updated_at) %></td>

      <td>
        <% image.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

