<h1><%= @image.title %></h1>
<b><%= t('Published by') %></b> <% @image.users.each do |user| %> <%= user.firstname + ' ' + user.lastname %> <% end %> <b><%= t('in') %></b> <%= I18n.l(@image.created_at) %>
<br/>
<b><%= t('licensed under') %></b> <%= link_to @image.license.name, @image.license.url %>

<br/><br/>
<%= image_tag @image.image.url %>
