<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="texts/rss.rss" />
</head>

<body>
  <ul class="tabs">
      <%= render 'layouts/options' %>
  </ul>

  <div class="container-fluid">
    <div class="content" id="<%= params[:controller] %>">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </div>

    <div class="sidebar">
      <%= render 'layouts/sidebar' %> 
    </div>

  </div>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
  
</body>
</html>
