<!DOCTYPE html>
<html>
<head>
  <title>jCMS - juntaDados Content Managament System</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</script>

</head>

<body>
  <ul class="tabs">
    <li id="home"><a href="/">Home</a></li>
    <li id="users"><a href="/users"><%= t("Users") %></a></li>
    <li id="licenses"><a href="/licenses"><%= t("Licenses") %></a></li>
    <li id="texts"><a href="/texts"><%= t("Texts") %></a></li>
    <li id="images"><a href="/images"><%= t("Images") %></a></li>
   </ul>

  <div class="container-fluid">
    <div class="sidebar"></div>
    <div class="content"><%= yield %></div>
<footer>
  <p>jCMS - juntaDados Content Managament System</p>
</footer>

  </div>
</body>
</html>
